<footer class="footer-section pt-4 pb-3">
  <div class="container">
    <div class="row justify-content-between justify-content-md-center">
      <div class="col-12 col-md-4 text-xs-center order-md-1">
        <div class="footer-logo text-center text-md-start">
          <p class="mb-1">
            <a class="footer-text" href="/">{{ site.title }}</a>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center text-md-end order-md-2">
        <small class="text-white">
          &copy; {{ site.year }} {{ site.title }}. All rights reserved.
        </small>
      </div>
    </div>
  </div>
</footer>
