// Header SCSS
.home-header {
  .banner-section {
    padding: 1rem 0;

    .banner-img-wrapper {
      .banner-img {
        height: 400px;
        margin: 2rem auto;
      }
    }

    .left-panel-wrapper {
      .banner-title {
        font-family: $font-secondary;
        font-size: 3.2rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        line-height: 60px;
        
        h3 {
          font-size: 3rem;
          width: 90%;
          font-weight: 800;
        }
      }
      .banner-description {
        font-family: $font-primary;
        font-size: 1.5rem;
        font-weight: 300;
        color: #555;
        width: 90%;

        .highlight {
          color: $color-secondary;
        }
      }
      .action-btns {
        margin-top: 2rem;
      }
    }
  }
}

.home-body {
  .join-channel-section {
    background-color: #f8f8f8;
    padding: 6rem 0 6rem;

    .container {
      max-width: 1000px;

      .wrapper {
        box-shadow: -2px -5px 33px rgba(221, 225, 233, 0.52), 14px 18px 61px -21px #B6BFCC;

        .img-wrapper {
          height: 100%;
          padding: 0;

          .channel-img {
            height: 100%;
            width: 100%;
          }
        }

        .caption-wrapper {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          justify-content: center;
          height: 100%;
          width: 100%;
          color: $color-secondary;
          padding: 3rem;

          h1 {
            color: $color-primary;
            text-align: left;
          }
        }
      }
    }
  }

  .events-section {
    .community-events-wrapper {
      margin-bottom: 2rem;

      .event-card {
        .card-body {
          .event-date {
            display: flex;
            justify-content: space-between;
            gap: 5px;
            font-size: 18px;
            padding: 8px 1rem;
            text-align: center;
            font-weight: 400;

            .date_day {
              display: flex;
              gap: 2rem;
            }
          }

          .event-details {
            padding: 1rem;

            .card-title {
              color: #666;
              font-size: 24px;
              font-weight: bold;
            }
          }
        }

        .card-footer {
          background-color: transparent;
          display: flex;
          gap: 8px;
          justify-content: space-between;
          padding: 0;
          border: 0;

          .venue {
            text-transform: uppercase;
            font-weight: 400;
            background-color: #222;
            color: #fff;
            padding: 3px 10px;
          }
        }
      }
    }
    .event-wrapper {
      height: 100%;

      .event-info {
        display: flex;
        align-items: center;
        height: 100%;

        .event-caption {
          color: #444;
        }

        .event-types {
          list-style: none;
          padding-left: 1rem;
          color: #444;
        }
      }
    }
  }

  // missions section
  .missions-section {
    background-color: #f8f8f8;

    .mission-card {
      background-color: inherit;
      
      .mission-card-img {
        height: 14rem;
      }
      .card-title {
        color: $color-primary;
      }
    }
  }

  // workshops section
  .workshops-section {
    .workshops-wrapper {
      .workshop-card {
        border-radius: 0;

        .card-body {
          height: 6rem;
          background-color: #fdfdfd;
          padding: 1.5rem 1.5rem 1rem 1.5rem;

          .card-title {
            color: #111;
            font-weight: 500;
            text-align: center;
          }

          .workshop-card-info {
            font-size: 14px;
            color: #666;
            font-weight: 500;
          }
        }
      }
    }
  }

  .courses-section {
    background-color: #f8f8f8;

    .courses-wrapper {

      .course-card {
        background-color: #f8f8f8;
        border-radius: 0;

        .card-body {
          background-color: #fdfdfd;
          padding: 1.5rem 1.5rem 1rem 1.5rem;

          .card-title {
            color: #111;
            font-weight: 500;
            text-align: center;
          }
          .course-card-info {
            font-size: 14px;
            color: #666;
            font-weight: 500;
          }
          .course-modules {
            color: blue;
          }
          .coupon-code {
            text-align: center;
            span {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  // home post
  .blogs-section {
    .card {
      border: 0;

      .card-img-top {
        border-radius: 0;
      }
      .card-body {
        padding: 1.5rem 0;

        .card-text {
          color: #555;
          font-weight: 300;
          font-family: "Source Serif 4", serif;

          a {
            font-family: "Red Hat Display", sans-serif;
          }
        }
      }
    }
  }
}

// only supporting mobile layout
@media screen and (max-width: 520px) {
  .home-header {
    .banner-section {
      padding-top: 0;
      padding-bottom: 5rem;

      .container {
        max-width: 95%;
      }

      .left-panel-wrapper {
        .banner-title {
          line-height: 50px;

          h3 {
            font-size: 1.8rem;
          }
          .typed {
            font-size: 2.5rem;
          }
        }
        .banner-description {
          font-size: 1.2rem;
          width: 100%;
        }
      }

      .action-btns {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }

      .banner-img-wrapper {
        padding: 2rem;

        .banner-img {
          height: 320px;
        }
      }
    }
  }

  .home-body {
    .events-section {
      .event-wrapper {
        .event-info {
          padding: 1.5rem 1rem;
        }
      }
    }
    .courses-section {
      .container {
        max-width: 96%;
      }
      .courses-wrapper {
        .course-card {
          padding: 1rem !important;

          .course-card-img {
            height: 210px;
          }
        }
      }
    }
    .join-channel-section {
      .container {
        max-width: 90%;

        .wrapper {
          .img-wrapper {
            .channel-img {
              border-radius: 15px 15px 0 0;
            }
          }

          .caption-wrapper {
            padding: 2.8rem 2rem;
          }
        }
      }
    }
  }
}

