<!-- banner -->
<div class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12 order-md-2">
        <div class="d-flex flex-column justify-content-center banner-img-wrapper">
          <img src="{{ site.asset_url }}/img/banner.jpg" alt="Gorkha Dev" class="banner-img rounded-0" />
        </div>
      </div>

      <div class="col-md-6 col-12 order-md-1">
        <div class="d-flex flex-column justify-content-center left-panel-wrapper h-100">
          <div class="banner-title">
	          <h3 class="mb-0">{{ site.motto }}</h3>
          </div>
          <h5 class="banner-description fst-italic">
            {{ site.description }}
          </h5>

          <div class="action-btns mt-4">
            <a href="/cv/" class="btn btn-outline-dark px-3 py-2 rounded-0">
              View my CV
            </a>
            <!-- <a href="/missions/" class="btn btn-light px-4 py-2 rounded-0">
              Start with our Missions
            </a> -->
            <!-- <a href="/inception/" class="btn btn-dark px-3 py-2">Read Our Inception Story</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
